<form action="/payment/result" method="get">
  <div>
<label for="apr_input">APR:</label>
<input id="apr_input" type="number" name="apr" placeholder="E.g. 5.42" step="0.0001">

  </div>
  <div>
    <label for="years_input">Number of years:</label>
    <input id="years_input" type="number" name="years" placeholder="How many years to repay?">
  </div>
  <div>
    <label for="principal_input">Principal:</label>
    <input id="principal_input" type="number" name="principal" placeholder="How much principal?" step="0.01">
  </div>
  <button type="submit">Calculate monthly payment</button>
</form>
