<h1>Payment Results</h1>

<p>APR <%= @apr %>%</p>
<p>Number of years <%= @years %></p>
<p>Pricipal $<%= @principal %></p>
<p>Payment $<%= @result %></p>

<a href="/payment/new">Calculate another payment</a>
