
<form action="/square/result" method="get">
<div>
  <label for="square">
    Enter a number
  </label>
</div>
<div>
<input type="number" id="randomnumber" name="square" placeholder="what number do you want to square">
</div>

<button type="submit">Calculate square</button>
