<form action="/squareroot/result" method="get">
<div>
  <label for="squareroot">
    Enter a number
  </label>
<input type="number" id="squarerootnumber" name="squareroot" placeholder="what number do you want to square">
</input>
</div>

<button type="submit">Calculate square root</button>
</form>
